<div class="flex gap-2 flex-col">
  <app-toolbar></app-toolbar>
    <div class="flex flex-row gap-2">
      <input type="number" [(ngModel)]="sol">
      <button (click)="search()">Search</button>
    </div>

    @if(marsImage | async){
      <owl-carousel-o [options]="customOptions">

        @for (slide of (marsImage | async); track slide.id) {
          <ng-template carouselSlide [width]="500">
            <img [src]="slide.img_src">
          </ng-template>
        }

      </owl-carousel-o>
    }
</div>
