<div class="flex gap-2 flex-col backgroundGradient h-screen">
  <app-toolbar></app-toolbar>
    <div class="ml-2 flex flex-row gap-3">
      <mat-form-field appearance="fill">
        <mat-label>Sol</mat-label>
        <input matInput type="number" [(ngModel)]="sol" placeholder="1000">
      </mat-form-field>
      <div class="flex justify-center items-center h-16">
        <button (click)="search()" matButton="outlined" class="bg-white text-white">Search</button>
      </div>
    </div>

    @if(marsImage | async){
      <div class="text-center">
        <owl-carousel-o [options]="customOptions" >

          @for (slide of (marsImage | async); track slide.id) {
            <ng-template carouselSlide>
              <div class="image-container">
                  <img class="centered-image" [src]="slide.img_src" alt="Mars Image">
              </div>
            </ng-template>
          }

        </owl-carousel-o>
      </div>
    }
</div>
