<div class="flex gap-2 flex-col backgroundGradient h-screen">
  <app-toolbar></app-toolbar>
  <div class="flex flex-col w-full gap-5 justify-center items-center">
    <div class="w-full text-center">
      <img class="block w-5xl m-auto" src="{{(nasaImage | async)?.hdurl}}" alt="{{(nasaImage | async)?.explanation}}">
    </div>
    <div class="text-2xl text-justify max-w-7xl text-white">{{(nasaImage | async)?.explanation}}</div>
    <div class="text-2xl text-justify max-w-7xl text-white">Copyright : {{(nasaImage | async)?.copyright}}</div>
    <div class="text-2xl text-justify max-w-7xl text-white">Date :  {{(nasaImage | async)?.date}}</div>
  </div>
</div>
