/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backgroundGradient{
  background-image: linear-gradient(to bottom, #898989, #656565, #434343, #242424, #000000);
}
